h1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding: 60px;

 }
body{
    background-color: #f79071;
}
     
 
 .sondage{
     display: flex;
   
     flex-direction: column;
    align-items: center;

 }
 .questions{
     width: 20%;
    text-align: center;
     background-color: #7ea04d;
     font-family: 'Raleway', sans-serif;
     color: white;
     padding: 20px;
     border-radius: 20px;
     margin: 1%;
 }
 footer{
    margin-top: 600px;
}
